body {
    background-color: #30336B;
    color: #fff;
    height: 100vh;
    font-family: Poppins;
}

body a:hover {
    text-decoration: none;
}

.logo-text a{
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.logo-text a:hover {
    color:rgba(0,0,0,.5) !important;
}

#burger{
    color: rgba(0,0,0,.7);
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

#burger:hover{
    color:#fff;
}

#facebook-button{
    color:#fff;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

#facebook-button:hover{
    color: rgba(0,0,0,.5);
}

#top-menu {
    background-color: #30336B;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
}

#logo {
    font-family: PoppinsBold;
}

.icons {
    color: #FFC312;
}

.eje {
    min-height: 240px;
    background-color: rgba(0,0,0,.1);
    padding: 2em;
}
.logo-text {
    margin-left: .6em;
    font-size: 1.5em;
}

.sociak-top {
    float: right;
}

#facebook-button{
    font-size: 1.6em;
}


.subject {
    margin-bottom: 3em;
}

#hero h1 {
    font-family: PoppinsBold;
}

.black {
    color: rgba(0,0,0,.9);
}

.white {
    color: #fff;
}

.p-space {
    margin-bottom: 30px;
}

.btn {
    font-size: .8em;
}


.badge-dark {
    background-color: rgba(0,0,0,.5);
    padding: 6px;
}

.p-link {
    color: #FFC312;
}

#avatar {
    opacity: .8;
}

footer {
    min-height: 200px;
}

#feedback {
    resize: none;
    border-radius: 2px; 
    border:none; 
    background-color: rgba(0, 0, 0, .3);
    color: #FFC312;
}

#feedback:focus {
    box-shadow: 1px 1px 0 , -1px -1px 0 #FFC312;
}

.title {
    font-family: IBMPlexBold;
}

/* Bullets */

ol {
    list-style: none;
}
ol li {
    margin-bottom: .5em;
    counter-increment: item;
}

ol li:before{
    content: counter(item)'.';
    color: #fff;
    margin-right: 13px;
    text-align: center;
    font-family: IBMPlexBold;
    font-size: 1.5em;
}

ol.alpha li {
    margin-bottom: .5em;
    counter-increment: alpha;
}

ol.alpha li:before{
    content: counter(alpha, lower-alpha)' )';
    color: #fff;
    margin-right: 13px;
    text-align: center;
    font-family: IBMPlexBold;
    font-size: 1.5em;
}

/* Modal menu */

#modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0);
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3em;
    display: none;
}

#modal ul {
    margin-top: 4em;
    list-style: none;
}
#modal li:before{
    content: '-';
    color: #fff;
    font-family: PoppinsBold;
    margin-right: .5em;
}
#modal li {
    margin-bottom: .6em;
}

#modal a {
    text-decoration: none;
    color: #FFC312;
    font-size: 1.7em;
    font-family: PoppinsBold;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}
#modal a:hover{
    color: #fff;
}

#close-menu {
    cursor: pointer;
    color: #fff;
    font-size: 2em;
}

.page-title {
    color: rgba(0,0,0,.9);
    font-family: PoppinsBold;
}

/* Fonts */

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins.woff2');
}
@font-face {
    font-family: PoppinsBold;
    src: url('fonts/Poppins Bold.woff2');
}
@font-face {
    font-family: IBMPlex;
    src: url('fonts/IBM Plex.woff2');
}
@font-face {
    font-family: IBMPlexBold;
    src: url('fonts/IBM Plex Bold.woff2');
}
@font-face {
    font-family: IBMPlexItalic;
    src: url('fonts/IBM Plex Italic.woff2');
}
@font-face {
    font-family: BrandonGrotesque;
    src: url('fonts/Brandon Grotesque.otf');
}

/* Media Queries */


/* Mobile */
@media (max-width: 900px) {
    .logo-text {
        font-size: 1em;
    }
}

/* Medium */
@media (max-width: 1190px) {

}