{% include menu.html %}

<footer class="mt-4 p-5">
    <div class="container-fluid">
        <h5 class="text-center text-uppercase font-weight-bold title" >Contacto</h5>
        <hr>
        <div class="row">
            <hr>
            <div class="mt-5">
                <div class="col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                    {% include contact.html %}
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="js/main-public.js"></script>
</body>
</html>