<div id="top-menu">
    <div class="container-fluid mb-5 pt-1">
        <nav class="navbar mt-2" >
            <span id="logo" class="navbar-brand text-white">
                <i id="burger" class="fas fa-bars black"></i> 
                <span class="logo-text">
                    <a href="{{site.url}}/" class="text-light">ERNESTO MORÁN</a>
                </span>
            </span>
            <span class="social-top">
                <a href="https://www.facebook.com/docernestomoran" class="text-light" target="_blank">
                    <i id="facebook-button" class="fab fa-facebook"></i>
                </a>
            </span>
        </nav>
    </div>
</div>